body{
    font-family: sans-serif;
    margin:0;
    background-color:#fafafa;
    height:4000px;

}
header{
    position: fixed;
    background-color: green;
    top:0;
    width:100%;
    background-color:white;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

main{
    width: 500px;
    background-color:red;
    margin:auto;

}

.post{
    position:static; /* does nothing*/
    background-color:white;
border:3px solid #dbdbdb;
margin-bottom:30px;

}
.image-container{}
