/* Element Selector */
h1{
text-transform: uppercase;
color:saddlebrown;

}
/* Id Selector   */
 #status{
    font-family: sans-serif;
 }

 img{
    width:500px;
 }
/* Class Selector */
.standout-box{
    background-color:whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
}


.subtitle{
   text-transform: uppercase;
color:saddlebrown;

}
/*Group Selector*/
h1, .subtitle{
font-family: serif;
}

/*Pseudo Class Selector*/
a {
text-decoration: none;
color: rgb(163, 157, 111);
}

a:hover{
text-decoration: underline;
}

.standout-box:hover{
background-color: gray;
}
main{
width:600px;
margin: auto;
}
.padding {
padding-top:24px;
padding-bottom:24px;
}
